
/*
table {

  text-align: center;

}
*/
section{
  display: block;
  margin-left: 150px auto;
}

h3{
  display: block;
  font-weight: bold;
  text-align: center;
}
#ed{
  display: block;
  font-weight: bold;
  text-align: center;
  color: brown;
}

#we{
  display: block;
  font-weight: bold;
  text-align: center;
  color: brown;
}

#tab1{
  text-align: center;
}

#img1 {
    display: block;
    margin: auto;
    padding-top: 5px;
}
.utd{
    display: block;
    text-align: center;
}

.proj{

  display: block;
  font-weight: bold;
  text-align: center;
  color: brown;

}

#dev.name{
  color: red;
}

#devid.email{
  color: green;
}

ul li{

  /*text-align: center;*/
  color: blue;
}

ol li{

  /*text-align: center;*/
  color: blue;
}

ul {
    list-style-position: inside;
    text-align: left;
    padding-left: 200px;
}

ol {
    list-style-position: inside;
    text-align: left;
    padding-left: 200px;
  }

dl {
    list-style-position: inside;
    text-align: left;
    padding-left: 200px;
  }


nav{
  text-align: center;
}
